<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DaWord Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDB1EA2D255D3A8800D9E160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDB1EA46255D3A8900D9E160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDB1EA51255D3A8900D9E160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
